.committe {
	padding: 5% 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.committe:nth-child(1) {
	padding-top: 12vh;
	background: #182a54;
	/*background: -moz-linear-gradient(
		180deg,
		hsla(222, 56%, 21%, 1) 0%,
		rgba(0, 212, 255, 1) 25%,
		rgba(0, 212, 255, 0) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		hsla(222, 56%, 21%, 1) 0%,
		rgba(0, 212, 255, 1) 25%,
		rgba(0, 212, 255, 0) 100%
	);
	background: linear-gradient(
		180deg,
		hsla(222, 56%, 21%, 1) 0%,
		rgba(0, 212, 255, 1) 25%,
		rgba(0, 212, 255, 0) 100%
	);*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#076c83",endColorstr="#00d4ff",GradientType=1);

	color: white;
}
.committe:last-child {
	background: #182a54;
	/*background: -moz-linear-gradient(
		0deg,
		hsla(222, 56%, 21%, 1) 0%,
		rgba(0, 212, 255, 1) 50%,
		rgba(0, 212, 255, 0) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		hsla(222, 56%, 21%, 1) 0%,
		rgba(0, 212, 255, 1) 50%,
		rgba(0, 212, 255, 0) 100%
	);
	background: linear-gradient(
		0deg,
		hsla(222, 56%, 21%, 1) 0%,
		rgba(0, 212, 255, 1) 50%,
		rgba(0, 212, 255, 0) 100%
	);*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#076c83",endColorstr="#00d4ff",GradientType=1);

	color: white;
}
.committee__name {
	border-bottom: 1px solid black;
	width: 100%;
	text-align: center;
}

.committee__members {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	flex-wrap: wrap;
	gap: 1em;
}

.track__members {
	display: grid;
	gap: 1em;
	display: grid;
	align-items: center;
	justify-items: center;
}

.Track {
	background-color: hsla(222, 56%, 21%, 1);
}
.Track h2,
.Track h4 {
	color: white;
	margin-bottom: 1em;
}
.tracks {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
	gap: 1em;
}
@media (min-width: 70em) {
	.tracks {
		grid-template-columns: repeat(2, minmax(500px, 1fr));
	}
}
@media (min-width: 35em) {
	.track__members {
		grid-template-columns: repeat(2, 1fr);
	}
}
