.AboutUs_title{
   
        color: black;
        text-align: center;
        font-size: clamp(2rem, 3vw, 4rem);
        padding-bottom: 20px;
   
}

.about_card{
    /* background-color: red; */
   
    display: flex;
}
.abt-card{
    float: left;
    width: 50%;
    padding: 0px;
}
.abt-card .image img{
    width: 100%;

}

@media screen and (max-width: 600px) {
    .abt-card{
        float: left;
        width: 100%;
    }
  }
.content a{

     color:blue;
      
}

.content a:hover{
    color: darkblue;
}

.image{
    background-image: url("../../../../Assets/background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.content{
    padding: 50px;
    display: flex;
    line-height:1.8;
    flex: 1;
    text-align: justify;
    justify-content: center;
}
.image h1{
    min-height: 400px;
    width: 100%;
}


