.ticket {
	display: flex;
}

.ticket__type {
	background-color: #182a54;
	position: relative;
	flex: 1;
	width: max(25%, 15rem);
}
.ticket__type p {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	padding: 1em 2em 1em 0.5em;
	font-size: clamp(0.75rem, 1vw, 1rem);
	font-weight: 500;
	color: white;
}
