@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.About{
    background-color: white;
}

.About_content{
    display: flex;
}
.About_text_content{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.small_title{
    font-weight:450;    
}
.About_text{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.bold_text{
    font-size: 6vh;
    font-weight: bold;
    
}

.About_Theme{
    font-weight: bold;
}

