.Sponsor-Section{
    background-color:  hsla(222,56%,21%,1);
    flex-direction: column;
	display: flex;
	padding: 5%;
	padding-top: 2%;
	gap: 1.5em;
    flex-wrap: wrap;
}

.Sponsor h1{
	color: white;
}

.sponsor_logo{
    flex-direction: column;
    flex-wrap: wrap;
}

.sponsor_title{
    color: white;
}

.sponsor_subtitle{
    color: white;
    align-self: center;
    text-align: center;
	margin-top: 2%;
}

.Track-Sponsors{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.Section-Sponsors{
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
}

.partners{
    justify-content: center;
}

.Sponsor-img{
    width: 250px;
    margin-left: 0.7em;
    margin-right: 0.7em;
}
