.Ticket{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
}

.Ticket_title{
    color: black;
    text-align: center;
    font-size: clamp(2rem, 3vw, 4rem);
    padding-bottom: 20px;
}

.Ticket_Header{
    display: flex;
    
    
}

.Ticket_Info{
    display: flex;
    flex-direction: row;
    word-wrap: break-word; 
     width: 100%;
}

.Ticket_Info_Left{
    display: flex;
    /* background-color: blue; */
    word-wrap: break-word;
    padding-right: 25px;
    width: 35%;
    
}
.Ticket_Info_Right{
    display: flex;
    /* background-color: red; */
    width: 35%;
    
}
.Ticket_Cards{
   
    display: flex;
    flex-direction: row;
    margin: 10px 50px;
    justify-content: center;
    align-items: center;
    width: calc(100% - 100px);
    flex-wrap: wrap;
}