.cta{
    border-radius: 0.5rem;
    display: flex;
    padding: 0.25rem 0.75rem;
    font-weight: 700;
    border: none;
    gap: 1rem;
    align-items: center;

    }
    .cta__content{
        position: relative;
    }
    .cta__content::after{
        content: "";
        position: absolute;
        height: 150%;
        width: 1px;
        background-color: white;
        top: 50%;
        left: 0;
        transform: translate(-0.5rem,-50%);
    }
  
    .cta__primary{
        background: linear-gradient(180deg, #A5DBF4 0%, #2BC0EA 44.66%, #00629B 96.46%);
    }