.navbar{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
   

}
.navbar__container{position: absolute;
    top: 0;
    width: 100%;
height: 10vh;
min-height: 3rem;
;}

.navbar__logo {
    width: 25%;
    height: 100%;
}

.navbar__logo img{
        object-fit: cover ;
        height: 100%;
}
.navbar__links{
    display: flex;
    gap: 1rem;    
}
.navbar__link>*{
    font-weight: 700;
    color: white;
}